@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

body, contactmeBody {
    background: linear-gradient(to bottom right, #0066cc 0%, #800000 100%);
    background-repeat: no-repeat;
}

.navigationMenu {
    background-color: linear-gradient(to bottom right, #0066cc 0%, #800000 100%) ;
    margin: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 4rem;
    column-gap: 4rem;
    position: sticky;
    top: 0;

}

.navigationMenu a {
    border: 3px dotted yellow;
    border-radius: 40%;
    font-family: "Sixtyfour Convergence", sans-serif;
    margin: 2px;
    padding: 4px;
    color: black;
    background-color: blueviolet;


}

.navigationMenu a:hover {
    color: brown;
    text-decoration: none;

}

.navigationMenu a:active {
    color:antiquewhite;
    text-decoration: wavy;
}

.titleContainer, .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding-bottom: 20px;
    border: 8px double green;
    border-radius: 6px ;
    padding-left: 30px;
    column-gap: 3rem;

}

.contactmecontainer {
    display: grid;
}

.carlosPicture {
    width:600px;
    height: 700px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.carlosDetails {
    margin: 20px;
    padding: 8px;
    width: fit-content;
    height: fit-content;
    border: 4px double red ;
    border-radius: 30%;
    grid-column-start: 3;
    grid-column-end: 4;
}
