body, contactmeBody {
    background: linear-gradient(to bottom right, #0066cc 0%, #800000 100%);
    background-repeat: no-repeat;
}

.navigationMenu {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
    column-gap: 4rem;

}

.navigationMenu a {
    border: 3px dotted yellow;
    margin: 2px;
    color: black;

}

.navigationMenu:hover {
    color: brown;

}

.navigationMenu:active {
    color:antiquewhite;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 8px double green;
    border-radius: 6px ;
    padding-left: 30px;
    column-gap: 3rem;

}